<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date [%thread] %-5level %msg - %logger{80}%n</pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.home}/logs/admin.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${catalina.home}/logs/admin-%d{yyyy-MM-dd}.log</FileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%date [%thread] %-5level %msg - %logger{80}%n</pattern>
        </encoder>
    </appender>

    <root>
        <level value="verbose"/>
        <appender-ref ref="stdout"/>
        <appender-ref ref="file"/>
    </root>

</configuration>