<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="globalConfig" class="com.yjh.demo.core.common.GlobalConfig">
        <property name="appKey" value="${project.appKey}"/>
        <property name="sessionUser" value="${project.sessionUser}"/>
        <property name="cookieUser" value="${project.cookieUser}"/>
        <property name="passwordEncryptKey" value="${project.passwordEncryptKey}"/>
    </bean>
</beans>